<!doctype html>
<html>
	<head>
		<title>Weather Forecast</title>
		<style>
			html {
				font-size: 16px;
			}
			.search {
				display: block;
				width: 80%;
				margin: 0 auto;
				font-size: 1.5rem;
				padding: 10px;
			}

			.results {
				width: 80%;
				margin: 20px auto;
				font-size: 2rem;
				padding: 10px;
			}
		</style>
	</head>
	<body>

		<input type="text" placeholder="Search reddit..." class="js-search search">

		<div class="js-results results"></div>

		<script type="underscore/template" id="js-search-data">
			<h2>
				<a href="<%= url %>" target="_blank"><%= title %></a>
			</h2>
		</script>

		<script src="dist/bundle.js"></script>
	</body>	
</html>